@model SimpleMVCApp.Models.ContactViewModel

@{ 

}

<div class="container">
    <div class="list-group">

        <span class="list-group-item-primary">Topic : @Model.Topic</span>
        <hr />
        <span class="list-group-item-action">Title : @Model.Title</span>
        <hr />

        <span class="list-group-item-danger">Content : @Model.Content</span>
        <hr />

        <span class="list-group-item-info">Fullname : @Model.Fullname</span>
        <hr />

        <span class="list-group-item-light">Email : @Model.Email</span>
        <hr />

        <span class="list-group-item-success">Phone : @Model.Phone</span>
        <hr />


    </div>
</div>